<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" crossorigin="anonymous">
    <title>Task App</title>
    <!--app.css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
</head>
<body>
    <main>
        <div class="container">
              <h1 class="display-4 text-center title mt-4">Task App</h1>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="/create-task" method="POST">
                          <div class="form-group">
                                  <input type="text" name="content" placeholder="Task" class="form-control" autofocus />
                              </div>
                                  <button type="submit" class="btn btn-primary btn-block">
                                  Save Task
                              </button>
                          </div>
                          <div class="card-body">
                              <ul class="list-group">
                                  {% for task in list_tasks %}
                                  <li class="list-group-item">
                                    <span class="{% if task.done %} done {% endif %}">{{task.content}}</span>
                                      <a href="/edit-task/{{task.id}}" class="btn btn-light btn-sm">Done</a>
                                      <a href="/delete-task/{{task.id}}" class="btn btn-danger btn-sm">Delete</a>
                                  </li>
                                  {% endfor %}
                              </ul>
                          </div>
                        </form>
                </div>
            </div>
        </div>
        
    </main>
    
</body>
</html>